@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.bg-marketing {
  padding: 0px 0 0px !important;
}

.bg-profile .public-profile {
  top: 50px !important;
}

.form {
  width: -webkit-fill-available;
}

.section {
  padding: 20px 0 !important;
  position: relative;
}

#topnav {
  display: none;
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
  #topnav {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  #topnav {
    display: block;
  }
}
